<div class="container-fluid">

  <app-page-title title="Users List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle  table-nowrap table-hover">
              <thead class="table-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Amount Remote Work</th>
                  <th scope="col">Amount Day off</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of userGridData">
                  <td>
                    <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">{{data?.firstname + data?.lastname}}</a>
                    </h5>
                    <p class="text-muted mb-0">{{data?.position}}</p>
                  </td>
                  <td>{{data?.email}}</td>
                  <td>
                    {{data?.ttamount}}
                  </td>
                  <td>
                    {{data?.dayoffamount}}
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <!-- <div class="row">
            <div class="col-lg-12">
              <ul class="pagination pagination-rounded justify-content-center mt-4">
                <li class="page-item disabled">
                  <a href="javascript: void(0);" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link">1</a>
                </li>
                <li class="page-item active">
                  <a href="javascript: void(0);" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link">4</a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link">5</a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
